<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.LearnMapper">
    <select id="getAllLearn" resultType="learn">
        select * from learn
    </select>
    <select id="EgetOneLearn" resultType="learn">
        select * from learn where learnSer=#{learnSer}
    </select>
</mapper>