
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>首页</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
         <link rel="stylesheet" href="/css/style.css" />
         <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
         <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>	
    </head>
	
    <body>
		<div>
			<img src="/image/head.jpg"  style="width: 100%; " />
		</div>
        <div class="container" style="margin-top: 5.3rem;">
        	
        	<div style="text-align: center;">
        
				<button id="bt_studyOnline" class="btn btn-warning " style="width: 70%;margin-top: 10%;" >在线学习系统</button><br/>
				<button id="bt_testOnline" class="btn btn-warning " style="width: 70%;margin-top: 10%;" >在线作答系统</button><br/>
				<button id="bt_history"  class="btn btn-warning " style="width: 70%;margin-top: 10%;">查看作答记录</button>
        	</div>
        </div>
		<!-- <div align="center">Copyright &copy; 2014.Company name All rights reserved.</div> -->
        <!-- Javascript -->
<!--		<script src="/js/jquery-1.8.2.min.js"></script>-->
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery.backstretch.min.js"></script>
		<script src="/js/scripts.js"></script>

		<script>
			// 监听三个按钮分别跳转到不同的页面
			
			$(document).ready(function(){

				
				// 跳转在线学习网页
				$('#bt_studyOnline').click(function(){
					window.location.href="answer.html";
				});
				// 跳转在线作答页面
				$('#bt_testOnline').click(function(){
					var obj={
						userID:sessionStorage.getItem("userid"),
					}
					$.ajax({
						url: "/question/getQues",
						contentType: "application/json",
						data: JSON.stringify(obj),
						type: "POST",
						success: function (result) {
							console.log(result.code);
							if (result.code == 200) {
								var questions=result.list;
								window.sessionStorage.setItem('list',JSON.stringify(questions));
								window.sessionStorage.setItem("item","0");
								sessionStorage.setItem("error","@");
								//alert(result.code)
								//window.location.href = "http://112.126.85.136:8080/answer.html";
								//window.location.href = "http://39.97.121.129:8080/answer.html";
								window.location.href = "http://112.126.85.136:8088/test.html";
								//window.location.href = "http://localhost:8088/test.html";
								window.sessionStorage.setItem("userid",firstname);
							} else {
								alert(result.message);
							}
						}
					});


				});
				
				// 跳转查看历史记录页面
				$('#bt_history').click(function(){
					window.location.href="grade.html";
				});
			});
			$(document).ready(function(){
				
			});
		</script>
        
</body>
</html>